/* Comment1: This is external stylesheet for The Fun Christian. Do not Reset*/

body {
    
    background-color:#9acd32;
    margin: 25px;
    
}



p2{
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 110%;
    margin: 50px;
    float: right;
    margin-top: 0;
    padding-right: 25px;
    
  }

/* Comment2: Selected specific font family to give website a fun, light-hearted, childlike and playful appeal*/

h1 {
    font-family: 'Lemonada', cursive; 
    font-size: 2.5em;
    padding: 25px;
    position:relative;
    text-align: left;
    color: #9932cc;
    margin: auto;
}

h2 { 
    color: #ff0080;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Lemonada', cursive; 
    padding: 17.5px;
    position:relative;
    margin: auto;
    
}

   article {
       margin-bottom: 6px;
   }  
   
    /*Navigation Settings*/
    
    
nav ul li {
    
    display: inline-block;
     margin:1px;
   
    
}


nav ul {
    text-align:center;
    color:#e600e6;
    font-size: 2em;
    list-style-type: none;
    
    
 
}

nav a:link {
    text-decoration: none;
    font-family: 'Lemonada', cursive;
    font-size: 18px;
    background: #00cc66;
    padding: 15px 15px;
    color: #FFF;
    
}

nav a:visited {
    color: #FFF;
}

nav a:hover {
    background: #0000ff;
    color: #33ccff;
}

li {
    font-size: 1.5em;
    list-style-position: outside;
    margin-left: 0.5cm;
    margin-right:0.5cm;
}
 img{
    
    border-style: ridge;
    border-style: outset;
    border-color: #ff0000 #00ff00 #0000ff;
    border-width: medium;
    position:relative;
    margin-right: 10px;
    padding: 0px;
    
   
 }


/*Comment3: Each paragraph is styled for visually-impaired users*/

p {
    padding: 15px;
    margin:15px;
    font-size: 2em;
    margin-top: 3px;
    }

/*Comment4: Nav menu is formatted for internal linking*/


p3{
    
font-size: 2em; 
padding: 33px;
float: left;
text-align: center;
line-height: 30px;



}

footer {
    text-align: center;
    font-weight: bold;
    color: #9932cc;
    font-size: 1.5em;
}


/*Comment5: Email address provided is unclickable because of browser incompatiablity on the internet*/





